:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #89479e, #000000);
  font-size: 14px;
}

a{
  text-decoration: inherit;
}

p {
  font-weight: 500;
  color: #89479e;
}

a:hover{
  color: white;
}

nav ul{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav div{
  display: flex;
  list-style: none;
  padding: 20px;
}

.logo1, .buscador,.explorar, .formularios{
  margin: 0;
  padding: 0;
}

.logo1, .buscador, .formularios{
  padding: 10px;
  align-items: center;
}

.logo1 div{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative; /* Hace que el div sea un contenedor de posicionamiento */
}

.homeLogo{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #89479e;
  position: relative; /* Hace que el div sea un contenedor de posicionamiento */
  z-index: 1;
}

/*Etiqueta* homeLogo*/
.homeLogo:hover::after, .searchWhite:hover::after, .exploreWhite:hover::after {
  content: "Inicio";
  position: absolute;
  top: 60px;
  transform: translateX(-40%);
  background-color: #89479e;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  display: flex;
  z-index: 1; /* Asignamos un valor de z-index al aside */
}

.searchWhite:hover::after{
  content: "Buscar";
}

.exploreWhite:hover::after{
  content: "Explorar";
}

.explorar{
  padding-left: 10px;
}

.input-container{
  background-color: #89479e;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 40px; /* Ajusta el radio para cambiar la redondez */
  font-weight: bold;
  height: 50px;
  align-items: center;
}

.input-container:hover {
  border: none;
  box-shadow: 0 0 10px #ffffff; /* Borde interior */
  border-radius: 40px;
  font-weight: bold;
  height: 50px;
}

.input-container input[type="text"]::placeholder {
  color: #ffffff;
  font-weight: bold;
}

.input-container input[type="text"] {
  border: none;
  background-color: #89479e; 
  width: 300px; 
  color: white;
}

.input-container input:focus{
  outline: none;
}

.searchWhite, .exploreWhite{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative; /* Hace que el div sea un contenedor de posicionamiento */
}

.logo1 div img, .homeLogo img, .searchWhite img, .exploreWhite img {
  position: absolute; /* Posiciona la imagen absolutamente dentro del div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la imagen horizontal y verticalmente */
  width: 80%; /* Ajusta el ancho de la imagen al ancho del div */
  height: 80%; /* Ajusta la altura de la imagen a la altura del div */
  object-fit: cover;
 /* Hace que la imagen llene todo el espacio disponible del div */
}

.homeLogo img {
  width: 70%; /* Ajusta el ancho de la imagen al ancho del div */
  height: 70%; /* Ajusta la altura de la imagen a la altura del div *//
}

.form1{
  /* background-color: #1c1c1c; */
  border: none;
  border-radius: 40px; /* Ajusta el radio para cambiar la redondez */
  font-weight: bold;
  height: 10px;
  align-items: center;
}

.formularios{
  gap: 10px;
}

.form2{
  background-color: #ffffff;
  border: none;
  border-radius: 40px; /* Ajusta el radio para cambiar la redondez */
  font-weight: bold;
  height: 10px;
  align-items: center;
}

.logoInicio:hover,.homeLogo:hover, .form1:hover, .form2:hover{
  scale: 1.05;
}

.form2:hover{
  background-color: #89479e;
}

.form1:hover p, .form2:hover p {
  color: white;
}

body,p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 72%;
  margin: 75px 0 0 7px;
  background: linear-gradient( #131313, #89479e);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.biblioteca{
  display: flex;
  gap: 10px;
}

.biblioteca div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.biblioteca div img{
  height: 50%; /* Ajusta la altura de la imagen a la altura del div */
  object-fit: cover;
  padding-bottom: 10px;
}

.biblioteca-div-text{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.plus div{
  display:flex;
  justify-content: center;
}

.plus img{
  object-fit: cover;
  width: 30%; /* Ajusta el ancho de la imagen al ancho del div */
  height: 30%; /* Ajusta la altura de la imagen a la altura del div */
  padding: 5px;
  border-radius: 50%;
}

.plus img:hover{
  background-color: #89479e;
}

.plus div:hover::after {
  content: "Crea una playlist";
  font-size: 14px;
  position: absolute;
  top: 60px;
  transform: translateX(0);
  background-color: #89479e;
  color: #ffffff;
  padding: 5px 10px;
  margin: 10px;
  width: 105px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  display: flex;
  z-index: 9999; /* Asignamos un valor de z-index al aside */
}

.bibliotecaLateralContendor1{
  background-color: #000000;
  height: 260px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 14px;
}

/* Para Chrome, Safari y otros navegadores basados en WebKit */
.bibliotecaLateralContendor1::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

.bibliotecaLateralContendor1::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del pulgar de la barra */
  border-radius: 10px; /* Radio de las esquinas del pulgar */
}

/* Para Firefox */
.bibliotecaLateralContendor1::-moz-scrollbar-thumb {
  background-color: #555; /* Color del pulgar de la barra */
  border-radius: 10px; /* Radio de las esquinas del pulgar */
}

.bibliotecaLateralContendor1-UNO{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  text-align: left;
  margin: 20px;
  padding: 0;
  margin: 0;
}

.bibliotecaLateralContendor1-UNO p, .bibliotecaLateralContendor1-DOS p, .bibliotecaLateralContendor1-TRES p{
  color: white;
}

.bibliotecaLateralContendor1-DOS{
  margin: 0 10px;
  background-color: #131313;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.bibliotecaLateralContendor1-TRES{
  margin: 10px;
  background-color: #131313;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.bibliotecaLateralContendor1-DOS button, .bibliotecaLateralContendor1-TRES button{
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 90px;
  font-weight: bold;
  height: 45px;
  width: 170px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

.bibliotecaLateralContendor1-DOS button:hover, .bibliotecaLateralContendor1-TRES button:hover{
  background-color: #89479e;
  color: white;
}

.bibliotecaLateralContendor2{
  background-color: #000000;
  margin-top: 10px;
  height: 140px;
  padding: 20px;
  border-radius: 10px;
}

.bibliotecaLateralContendor2 p {
  color:white;
  text-align: left;
  margin-right: 10px;
  font-size: 14px;
}

.bibliotecaLateralContendor2 a {
  color:#555;
  text-align: left;
}

.bibliotecaLateralContendor2 a:hover {
  color:rgb(255, 255, 255);
}

.bibliotecaLateralContendor2-UNO {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  font-size: 15px;
  margin-bottom: 10px;
}

.bibliotecaLateralContendor2-DOS p{
  font-size: 15px;
}
.bibliotecaLateralContendor2-DOS a:hover{
  text-decoration:underline;
}

.bibliotecaLateralContendor2-TRES{
  text-align: left;
  padding-top: 10px;
}

.bibliotecaLateralContendor2-TRES button{
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #5c5c5c00;
  border: solid white 1px;
  border-radius: 90px;
  font-weight: bold;
  height: 40px;
  width: 250px;
  font-size: 15px;
  font-weight: bold;
}

.bibliotecaLateralContendor2-TRES button:hover{
  scale: 1.05;
}

.planet{
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet img{
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

/*etiqueta para cada ruta con la información*/
.info{
  margin: 5px 10px 5px 445px;
  background: #191919;
  padding: 20px;
  border-radius: 10px;
  height: 437px;
}

.contenedorPrincipalInfo{
  height: 440px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 14px;
}

/* Para Chrome, Safari y otros navegadores basados en WebKit */
.contenedorPrincipalInfo::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

.contenedorPrincipalInfo::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del pulgar de la barra */
  border-radius: 10px; /* Radio de las esquinas del pulgar */
}

/* Para Firefox */
.contenedorPrincipalInfo::-moz-scrollbar-thumb {
  background-color: #555; /* Color del pulgar de la barra */
  border-radius: 10px; /* Radio de las esquinas del pulgar */
}

.info p{
  color: white;
}

.titulo_main{
  display: flex;
  justify-content: space-between;
}

.encabezado_main_artistas1{
  font-size: 25px;
  font-weight: bold;
}

.encabezado_main_artistas2{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.encabezado_main_artistas1:hover, .encabezado_main_artistas2:hover{
  text-decoration: underline;
}

.artistas_populares{
  padding: 20px;
  background-color: #191919;
  display: flex;
}

.card_por_artista{
  width: 170px;
  padding: 20px;
}

.card_por_artista:hover{
  background: linear-gradient( #191919, #8a479e);
  border-radius: 20px;
}

.imagenArtista{
  position: relative;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 165px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 1);
}

.card_por_artista img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Posiciona la imagen en relación al contenedor */
}

.imagenArtista .play, .albunArtista .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  background-color: #8a479e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.4s ease-in-out, box-shadow 0.3s ease-in-out; /* Agrega la transición para la sombra */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1); /* Ajusta los valores según tus preferencias */}

.imagenArtista .play img, .albunArtista .play img{
  width: 50%;
  height: 50%;
}

.card_por_artista:hover .play {
  opacity: 1; /* Se muestra al pasar el mouse */
}

.nombre_artista p{
  padding-top: 10px;
}

.albunArtista{
  position: relative;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 175px;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.albunArtista .play {
  transform: translate(50%, 60%);
}

/*Explorar TODO*/

.encabezado_main_Explorar{
  font-size: 25px;
  font-weight: bold;
}

.secciones_explorarTodo{
  display: flex;
  flex-wrap: wrap;
}

.secciones_explorarTodo div{
  background-color: #89479e;
  width: 265px;
  height: 150px;
  margin: 20px 20px 0 0 ;
  border-radius: 30px;
}

.secciones_explorarTodo div:hover{
  background-color: #89479e; 
}

.secciones_explorarTodo div p{
  margin: 20px;
  font-size: 30px;
  line-height: 1;
}

.secciones_explorarTodo div:nth-child(1) {
  background-color: rgb(0, 85, 141);
}

.secciones_explorarTodo div:nth-child(2) {
  background-color: orange;
}

.secciones_explorarTodo div:nth-child(3) {
  background-color: brown;
}

.secciones_explorarTodo div:nth-child(4) {
  background-color: green;
}

.secciones_explorarTodo div:nth-child(5) {
  background-color: blue;
}

.secciones_explorarTodo div:nth-child(6) {
  background-color: indigo;
}

.secciones_explorarTodo div:nth-child(7) {
  background-color: violet;
}

.secciones_explorarTodo div:nth-child(8) {
  background-color: rgb(130, 0, 22);
}

.secciones_explorarTodo div:nth-child(9) {
  background-color: purple;
}

.secciones_explorarTodo div:nth-child(10) {
  background-color: brown;
}

.secciones_explorarTodo div:nth-child(11) {
  background-color: gray;
}

.secciones_explorarTodo div:nth-child(12) {
  background-color: black;
}

/*Footer*/
  
.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #89479e, #131313);
  font-size: 14px;
}

.foot1, .foot2{
  padding: 10px;
}
.footer p{
  color: white;
}

.tittleFooter, .textFooter{
  font-size: 15px;
  color: white;
}

.footer > div:nth-child(2){
  display: flex;
  align-items: center;
}

.btnFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 90px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}

.btnFooter p{
  color: #000000;
}

.btnFooter:hover{
  scale: 1.05;
  background-color: #89479e;
  color: white;
}

.btnFooter:hover p{
  color: white;
}
